<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>YY'S Heart to You</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
<div class="container">
  <div class="first-name">
    <span> love </span>
  </div>
  <div class="heart">
    <audio>
	  <source src="/static/mp3/song.mp3"></source>
    </audio>
    <span> Jearl </span>
    <div class="right-heart"></div>
    <div class="left-heart"></div>
  </div>
  <div class="last-name">
    <span> You </span>
  </div>
</div>

<script  src="/static/js/index.js"></script>
</body>
</html>